@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";

@font-face {
  font-family: "chatapp";
  src: url("./fonts/chatapp.eot");
  src: url("./fonts/chatapp.eot?#iefix") format("embedded-opentype"), url("./fonts/chatapp.woff") format("woff"), url("./fonts/chatapp.ttf") format("truetype"), url("./fonts/chatapp.svg#chatapp") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "chatapp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "chatapp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-edit-modify-streamline:before {
  content: "\61"; }

.icon-settings-streamline-1:before {
  content: "\63"; }

.icon-paperplane:before {
  content: "\62"; }

body, html {
  
  height: 100%; }

body {
  color: #f2f2f2;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.align {
  display: flex;
  flex-direction: row; }



.align .orange #org {
  padding: 0;
  border: none;
  background: none; }

.align .orange #org:hover {
  cursor: pointer; }

.app-messenger {
  display: flex;
  flex-direction: column;
  border: 2px solid #45cfe2;
  background-color: #f2f2f2;
  color: white;
  border-radius: 10px;
    height:424px;
  width: 304px; 
margin-top:190px;

animation: fadein 0.3s;
    -moz-animation: fadein 0.3s; /* Firefox */
    -webkit-animation: fadein 0.3s; /* Safari and Chrome */
    -o-animation: fadein 0.3s; /* Opera */}

.app-messenger .header {
  height: 42px;
  display: flex;
  border-radius:8px 8px 0px 0px;
  flex-direction: row;
  border-bottom: 1px solid #45cfe2;
  background-color: #45cfe2;
   box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
 }

.app-messenger .header .sidebar-right {
  width: 150px;
  margin-top:6px; }

.app-messenger .header .sidebar-right .members {
  display: flex;
  flex-direction: row;
  padding: 0px auto; 
}





.app-messenger .header .sidebar-right .members .member1 .user-image {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  z-index: 4; 
  background-color:#CE242B;
  }

.app-messenger .header .sidebar-right .members .member2 .user-image {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  left: -5px ;
  background-color:#6DC065;
  }

.app-messenger .header .sidebar-right .members .member3 .user-image {
 width: 23px;
 height: 23px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  left: -20px; 
  background-color:#A967AA;}

.app-messenger .header .sidebar-right .members .member4 .user-image {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  left: -35px;
  background-color:#009D4B;
   }

  .app-messenger .header .sidebar-right .members .member5 .user-image {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: relative;
  z-index: 0;
  left: -50px;
  background-color:#298089;
   } 

.app-messenger .header .content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative; }

.app-messenger .header .content .left-action {
  position: absolute;
  right: 8px;
  top: 0; }

.app-messenger .header .content .right-action {
  position: absolute;
  right: 8px;
  top: 0; }

.app-messenger .header .content #link {
  text-decoration: none;
  color: #FFF;
  line-height:42px;
  font-size:19px;
  font-weight:bold; }

.app-messenger .header .content h1 {
   }

.app-messenger .header .content button {
  background: none;
  line-height: 50px;
  border: 0 none;
  font-size: 20px;
  cursor: pointer; }

.app-messenger .header .right {
  width: 150px; }

.app-messenger .header .right .user-bar {
  line-height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px; }

.app-messenger .header .right .user-bar .profile-name {
  padding-right: 10px; }

.app-messenger .header .right .user-bar .profile-image {
  line-height: 50px; }

.app-messenger .header .right .user-bar .profile-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px 0 0 0; }

.app-messenger .main {
  height: 100%;
  display: flex;
  overflow: hidden; }

.app-messenger .main .left {
  width: 300px; }

.app-messenger .main .left h2 {
  line-height: 50px;
  text-align: center; }

.app-messenger .main .content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column; }



.app-messenger .main .content .messenger-input {
  margin: 0px;
  height: 50px;
  padding:0px;
  display: flex;
  flex-direction: row; }

.app-messenger .main .content .messenger-input .text-input {
  flex-grow: 1;
  margin-left: 9px;
  margin-bottom:11px; 
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 25px;
background-color:#fff;}

.app-messenger .main .content .messenger-input .text-input textarea {
  border: #f2f2f2;
  border-radius: 25px;
  width: 88%;
  height: 100%;
  padding-bottom: 10px;
  padding-left:20px; 
padding-top:7px;
overflow:hidden;
font-family:inherit;
resize:none;

    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;}

.app-messenger .main .content .messenger-input .text-input img{
height:18px;
margin-bottom:7px;
margin-right:5px;
}

.app-messenger .main .content .messenger-input .actions  {
  padding-right:10px;
  padding-left:5px;
   }
   .app-messenger .main .content .messenger-input .actions:hover {
  cursor:pointer;
   }
.app-messenger .main .content .messenger-input .actions img {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    border-radius:50%;
  height:36px;
  width:36px; }
.app-messenger .main .content .messages {
  flex-grow: 1;
   
        position:relative;
   }

  .messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  margin-top:10px; }

.messages .message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 15px; }

  

.messages .message.me .message-user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4a90e2;
  }


.messages .message .message-user-image  {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4a90e2; }

.messages .message .message-body {
  padding-left: 10px; }



.messages .message.me .message-body .message-text {
  
  
  
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1); 
  
  background-color:#fff;
  color: #000;
  padding: 6px;
  border-radius: 13px 13px 13px 2px;
}
.messages .message.me .message-body .message-text p {
  
 
  font-size:13px;
}

.messages .message .message-body .message-text {
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1); 
  height:30px;
  background-color:#fff;
  color: #000;
  padding: 6px;
  border-radius: 10px;
   }

.messages .message.me {
  justify-content: flex-start; 
margin-bottom: 0px;
margin-top:3px;

        position:relative;
        bottom:     0;
}





.messages .message.me .message-body .message-author {
  color: #000; }




h2.title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8); }





.app-student {
  display: flex;
  flex-direction: column;
  
  background-color: #f2f2f2;
  color: white;
  border-radius: 10px;
  width: 304px; 
height:424px;
border: 2px solid #45cfe2;
margin-top:190px;
animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}

.app-student .header {
  height: 187px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #45cfe2;
  background-color: #45cfe2; 
box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);}

.app-student .header .middle {
  height: 100px;
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  font-size:15px;
   }

.app-student .header .middle #good {
  width: 300px;
  text-align: left;
  padding-top: 50px;
  padding-left: 15px; }

.app-student .header .middle #midimg {
  width: 200px;
  text-align: center;
  padding-top: 40px; }

.app-student .header .middle #midimg h2{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
  background-color:#E74C3C; 
padding-top:5px;
font-size:20px;}

.app-student .header .middle #photomid img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 30px; }

.app-student .header .middle #photomid {
  width: 400px;
  text-align: right;
  padding-top: 40px; }

.app-student .header .middle .user-image {
  width: 30px; }

.app-student .header .middle .user-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.app-student .header .content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  padding-top:4px; }

.app-student .header .content .left-action {
  position: absolute;
  right: 8px;
  top: 0; }

.app-student .header .content .right-action {
  position: absolute;
  right: 8px;
  top: 0; }

.app-student .header .content h1 {
  font-size:19px; }

.app-student .header .content button {
  background: none;
  line-height: 50px;
  border: 0 none;
  font-size: 20px;
  cursor: pointer; }

.app-student .header .bottom {
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 0px auto;
  font-size:15px;
  margin-bottom:65px;
   }

.app-student .header .bottom #bad {
  width: 200px;
  text-align: left;
  padding-top: 50px;
  padding-left: 5px; }

.app-student .header .bottom #botimg {
  width: 200px;
  text-align: center;
  padding-top: 40px; }

.app-student .header .bottom #botimg h2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
  background-color:#298089;
  padding-top:4px;
  font-size:20px;
   }

.app-student .header .bottom #photobot img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 30px; }

.app-student .header .bottom #photobot {
  width: 400px;
  text-align: right;
  padding-top: 40px; }

.app-student .header .bottom .user-image {
  width: 30px; }

.app-student .header .bottom .user-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.app-student .main {
  height: 100%;
  display: flex;
  overflow: hidden; }

.app-student .main .left {
  width: 300px; }

.app-student .main .left h2 {
  line-height: 50px;
  text-align: center; }

.app-student .main .content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

.app-student .main .content .messages {
  flex-grow: 1; }

.app-student .main .content .messenger-input {
  margin: 10px;
  height: 50px;
  display: flex;
  flex-direction: row; }

.app-student .main .content .messenger-input .text-input {
  flex-grow: 1;
  margin-right: 5px; }

.app-student .main .content .messenger-input .text-input textarea {
  border: white;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding: 8px 15px; }

.app-student .main .content .messenger-input .text-input .fi-paperclip {
  right: 8px; }

.app-student .main .content .messenger-input .actions button.send {
  background: #2ecc71;
  color: #FFF;
  border: 0 none;
  padding: 7px 15px;
  line-height: 50px; }





h2.title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8); }





*:focus {
  outline: none; }

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}




